<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div>
      <h1>About Us</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis,
        quas.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim omnis id
        eveniet illo, eum debitis.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos,
        aspernatur.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
